### How To Predict Whether A Job Candidate Will Be Hired Using Random Forest

First we'll use pandas to load a csv file with made-up data on past hires.

In [58]:
import numpy as np
import pandas as pd
from sklearn import tree

np.random.seed(10)

input_file = "PastHires.csv"
df = pd.read_csv(input_file, header = 0)

df.head()

,Years Experience,Employed?,Previous employers,Level of Education,Top-tier school,Interned,Hired
0,10,Y,4,BS,N,N,Y
1,0,N,0,BS,Y,Y,Y
2,7,N,6,BS,N,N,N
3,2,Y,1,MS,Y,N,Y
4,20,N,2,PhD,Y,N,N

As a first step in preprocessing our data, let's convert non-numerical values to numerical values.

In [59]:
d = {'Y': 1, 'N': 0}
df['Hired'] = df['Hired'].map(d)
df['Employed?'] = df['Employed?'].map(d)
df['Top-tier school'] = df['Top-tier school'].map(d)
df['Interned'] = df['Interned'].map(d)
d = {'BS': 0, 'MS': 1, 'PhD': 2}
df['Level of Education'] = df['Level of Education'].map(d)
df.head()

,Years Experience,Employed?,Previous employers,Level of Education,Top-tier school,Interned,Hired
0,10,1,4,0,0,0,1
1,0,0,0,0,1,1,1
2,7,0,6,0,0,0,0
3,2,1,1,1,1,0,1
4,20,0,2,2,1,0,0

Next let's extract our feature list from the dataframe...

In [60]:
features = list(df.columns[:6])
features

['Years Experience',
 'Employed?',
 'Previous employers',
 'Level of Education',
 'Top-tier school',
 'Interned']

...set 'X' to the columns for these features...

In [61]:
X = df[features]

...and set 'y' to the column for the target.

In [62]:
y = df["Hired"]

Finally, let's use a random forest of 10 decision trees to see if a candidate is likely to be hired (output of "1" == Yes, "0" == No).

In [64]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_estimators=10)
clf = clf.fit(X, y)

# Predict hiring of an employed 10-year veteran
print (clf.predict([[10, 1, 4, 0, 0, 0]]))

# Predict hiring of an unemployed 10-year veteran
print (clf.predict([[0, 0, 4, 0, 0, 0]]))

# Employed 5-year veteran who has worked for 1 company
print (clf.predict([[5, 1, 1, 0, 0, 0]]))

# Unemployed and hasn't worked for anybody...
# ...but has a PhD from a Top-Tier school and has interned
print (clf.predict([[0, 0, 0, 1, 1, 1]]))

[1]
[0]
[1]
[1]